.about-banner
{
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    background: linear-gradient(90deg, #8200FF 0%, #FF4200 100%);
    padding: 40px;
    border-radius: 5px;
    gap: 30px;
}

.about-banner-left
{
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.about-banner-right
{
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.about-banner-right-item
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about-banner-right-item span
{
    font-size: 35px;
    font-weight: 800;
}

.about
{
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.about-top
{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.about-left
{
    flex-basis: 40%;
    border-radius: 5px;
    background-color: #202329;

    background-image: url('https://i.imgur.com/wetaI44.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-left-trasparency
{
    width: 100%;
    height: 100%;
    background-color: rgba(32, 35, 41, 0.8);
    border-radius: 5px;
}

.about-right
{
    flex-basis: 60%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #FFF;
}

.h1-sub
{
    background-image: linear-gradient(to right, #8200ff, #e400c0, #FF4200, #FF4200, #FF4200);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-right h1
{
    font-size: 35px;
    font-weight: 800;
}

.about-right p
{
    font-size: 16px;
    font-weight: 300;
}

.about-right button
{
    width: 40%;
    padding: 10px 20px;
    border-radius: 5px;
    background: #FF4200;
    border: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.about-right button:hover
{
    background: #FFF;
    color: #FF4200;
}

.about-bottom
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: #FFFFFF;
}

.about-bottom-top
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-bottom-top h5
{
    color: #FF4200;
    font-size: 18px;
}

.about-bottom-top h1
{
    font-size: 35px;
    font-weight: 800;
}

.about-bottom-bottom
{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 50px;
}

.about-bottom-bottom-item
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    padding: 30px;
    border-radius: 5px;
    background-color: #202329;
}

.about-bottom-bottom-item img
{
    width: 30%;
    border-radius: 50%;
    margin-right: 30px;
}

.item-info
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item-info h4
{
    background-image: linear-gradient(to right, #8200ff, #e400c0, #FF4200, #FF4200, #FF4200);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.item-info p
{
    font-size: 12px;
    font-weight: 300;
}
