.footer
{
    padding: 60px 120px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #FFF;
    background: #202329;
}

.footer-logo
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo h4
{
    font-family: 'Organeto Bold', sans-serif;
    color: #FFF;
    font-size: 30px;
    letter-spacing: 8px;
    background: linear-gradient(to right, #8200ff, #e400c0, #ff007e, #ff0044, #ff4200);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-first
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px 0;
}

.first-social
{
    display: flex;
    gap: 20px;
}

.first-social-icon
{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.first-social-icon:hover
{
    color: #FF4200;
    transform: scale(1.3);
}

.first-social div
{
    background: #2B3138;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.footer-second,
.footer-third,
.footer-fourth,
.footer-fifth
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-second ul,
.footer-third ul,
.footer-fourth ul,
.footer-fifth ul
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    color: #999;
}

.footer-second ul li:hover,
.footer-third ul li:hover,
.footer-fourth ul li:hover,
.footer-fifth ul li:hover
{
    color: #FF4200;
    cursor: pointer;
}